body{
	background-color:#000;
	margin-top:3vh;
	margin-top:3vw;
}
div{
	text-align:center;
	font-size: 4vw;
	font-size: 4vh;
}
#but{
	width : 40%;
	font-weight:bold;
	font-size: 4vw;
	font-size: 4vh;
	margin-top:3vh;
	margin-top:3vw;
	padding-top:3%;
	padding-bottom:3%;
}
p{
	color:#fff;
	font-size: 5vw;
	font-size: 5vh;
}
