p {
  font-size: 9vw;
	text-align: center;
	margin-bottom : auto;
	margin-top : auto;
	margin-left : "0px";
	margin-right : "0px";
	width: 100%;
}
.sanssautdeligne { 
	white-space:nowrap; 
}
html {
	background: #000000;
	font-family: Calibri;
	font-weight: bold;
	color: #FF0000;
}

body {
	display:flex;
	height:100%; 
	margin:0; 
	padding:0; 
}

.color-green{
    color: #0F0;
}

.color-blue{
    color: #09F;
}

.navbar {
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #777;
  background-color: #000;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #777;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #777;
  color:#FFF;
}
.show {
  display:block;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
